.updateClientForm{
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 5px;
    background-color: rgba(27,44,78,0.25);
    border: 1px solid rgba(11,14,51,0.91);
    border-radius: 10px;
}

.form-group{
    padding: 10px;
}
