.updateClientForm{
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 5px;
    background-color: rgba(27,44,78,0.25);
    border: 1px solid rgba(11,14,51,0.91);
    border-radius: 10px;
}

.form-group{
    padding: 10px;
}


.updateButton{
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    user-select: none;
    background-color: rgba(59, 107, 178, 0.94);
}

.linkToUpdate{
    display: block;
    height: 100%;
    color: #fff;
    text-decoration: none !important;
}
a{

}
